.productDetailsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDetails{
  width: 100%;
  max-width: 1200px;

}

.productDescription{
  display: flex;
  padding: 4rem;
}